.Header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 5vh;
    padding: 0 2rem;
    top: 0;
    position: sticky;
    background-color: white;

    &-title {
        text-decoration: none;
        color: black;
        font-size: 2rem;
        font-weight: bold;

        &:hover {
            color: blue;
        }
    }

    nav {
        margin-left: 2rem;
        
        a {
            margin-right: 2rem;
            color: black;
            font-weight: bold;
            text-decoration: none;
            
            &:hover {
                color: blue;
            }
        }
    }
}

@media (width <= 1000px) {
    .Header {
        &-title {
            font-size: 1.5rem;
        }

        nav {
            display: none;
        }
    }
}